*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Segoe UI",sans-serif;
}

body{
background:#f5f7fb;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
overflow:hidden;
position:relative;
}

.background-glow{
position:absolute;
width:800px;
height:800px;
background:
radial-gradient(circle,
rgba(230,0,0,.15),
transparent 70%);
top:-300px;
right:-200px;
}

.login-container{
display:flex;
width:1100px;
height:650px;
background:white;
border-radius:24px;
overflow:hidden;
box-shadow:
0 20px 50px rgba(0,0,0,.08);
z-index:2;
}

.left-panel{
flex:1;
padding:70px;
background:
linear-gradient(
135deg,
#ea0016,
#d10000,
#8b0000
);
color:white;
display:flex;
flex-direction:column;
justify-content:center;
}

.logo-bar{
width:80px;
height:8px;
background:white;
margin-bottom:25px;
border-radius:20px;
}

.left-panel h1{
font-size:52px;
margin-bottom:20px;
}

.left-panel p{
font-size:20px;
line-height:1.7;
opacity:.95;
}

.login-card{
width:450px;
padding:60px;
display:flex;
flex-direction:column;
justify-content:center;
}

.login-card h2{
font-size:32px;
margin-bottom:30px;
color:#222;
}

label{
display:block;
margin-bottom:8px;
margin-top:18px;
font-weight:600;
}

input,
select{
width:100%;
padding:15px;
border:1px solid #ddd;
border-radius:12px;
font-size:15px;
}

button{
margin-top:28px;
width:100%;
padding:16px;
border:none;
border-radius:12px;
background:
linear-gradient(
90deg,
#ea0016,
#d10000
);
color:white;
font-size:16px;
font-weight:600;
cursor:pointer;
transition:.3s;
}

button:hover{
transform:translateY(-2px);
box-shadow:
0 12px 24px rgba(234,0,22,.3);
}